body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5FF;
}

.kegCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28%;
  padding: 3%;
  margin: 3%;
  height: 28%;
}